# docs/requirements.txt
mkdocs
mkdocs-material
mkdocs-redirects
mkdocstrings[crystal,python]
markdown-include
pymdown-extensions
markdown>=3.10.2 # not directly required, pinned by Snyk to avoid a vulnerability
